<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @short_url.url %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @short_url.identifier %>
</p>

<%= link_to 'Edit', edit_short_url_path(@short_url) %> |
<%= link_to 'Back', short_urls_path %>
